* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: yellow;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  flex-direction: column;
}

.header h1 {
  font-size: 2.5rem;
}
.header form {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10;
}

.header label {
  margin-right: 10px;
}
.header form button {
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.header input {
  width: 50%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 5px;
  outline: none;
}

.moviesDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 10px;
}

@media screen and (max-width: 600px) {
  .header {
    padding: 2rem 30px 0 30px;
  }
  .header form {
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
  }
  .header form input {
    width: 100%;
  }
  .header form button {
    margin-left: 0;
  }
}
